<div id="user">
{{#if foundedUser}}
<div>
  <button class="button button:hover"<a href="/auth/logout"></a>Log out</button>
</div>
<div class="cont">
  <h2><mark>Hey, {{ foundedUser.username }}!</mark></h2>
  <h3><mark>Here is a space for all your plants:</mark></h3>
    <p><mark>
      Simply <span onclick="openNav()"><a href="#">click</a></span> to add a new one or add a new plant swap <span><a href="/event/create">event</a></span>.<br></p>
   <p><mark>If you're not sure about the plant care, consult our plantcare cheatsheet:</mark>
  </p>
  <div class="one">
    <form action='/choosePlant' method="POST">
      <select name="myPlants" id="myPlants" aria-label="Choose your plant">
        {{#each allPlants}}
        <option value="{{_id}}">{{plantType}}</option>
        {{/each}}
      </select>
      <input id="cheat-btn" type="submit" value="spy">
    </form>
  </div>
</div>
<div class="all-plants">
  {{#each plantArr}}
  <div class="clay card {{#if water}} red {{/if}} plants" style="width: 18rem;">
    <h5 class="card-title">{{_doc.name}}</h5>
    <p class="card-text">{{_doc.plantType}}</p>
    <p class="card-text">{{_doc.h2o}}</p>
    <p class="card-text">{{_doc.bio}}</p>
  </div>
  {{/each}}
</div>
{{!-- <div class="one">
  <form action="/auth/logout" method="GET">
    <button id="logout">Logout</button>
  </form>
</div> --}}
<div id="mySidenav" class="sidenav" class="popup" onclick="myFunction()">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="popuptext" id="myPopup">
    <form action="/createUniqe" method="POST">
      <label for="name">Name: </label>
      <input type="text" name="name" id="name">
      <label for="plantType">Type: </label>
      <input type="text" name="plantType" id="plantType">
      <label for="h2o">h2o: </label>
      <label for="once-per-day">once per day</label><br>
      <input type="radio" id="once-per-day" name="h2o" value="once per day">
      <label for="once-per-week">once per week</label><br>
      <input type="radio" id="once-per-week" name="h2o" value="once per week">
      <label for="twice-per-week">twice per week</label><br>
      <input type="radio" id="twice-per-week" name="h2o" value="twice per week">
      <label for="once-per-month">once per month</label><br>
      <input type="radio" id="once-per-month" name="h2o" value="once per month">
      <label for="light">light: </label>
      <label for="low-light">low light</label><br>
      <input type="radio" id="low-light" name="light" value="low light">
      <label for="direct-light">direct light</label><br>
      <input type="radio" id="direct-light" name="light" value="direct light">
      <label for="indirect-light">indirect light</label><br>
      <input type="radio" id="indirect-light" name="light" value="indirect light">
      <label for="bio">BIO: </label>
      <input type="text" name="bio" id="bio">
      <button type="submit">Add PLANT</button>
    </form>
  </div>
</div>
{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}

</div>

