<div class="container-intro">
{{#if foundedUser}}
<h2>Hey, {{ foundedUser.username }}!</h2>
<h3>Here are your plants:</h3>
{{#each plantArr}}
<div class="card {{#if water}} red {{/if}} plants" style="width: 18rem;">
  {{!-- <img class="card-img-top" src="images/greenbar.png" alt="Card image cap"> --}}
  <div class="card-body">
    <h5 class="card-title">{{_doc.name}}</h5>
    <p class="card-text">{{_doc.plantType}}</p>
    <p class="card-text">{{_doc.h2o}}</p>
    <p class="card-text">{{_doc.light}}</p>
    <p class="card-text">{{_doc.bio}}</p>
  </div>
</div>
{{/each}}

<div class="popup" onclick="myFunction()"><button class="button button:hover">CLICK TO CREATE NEW PLANT</button>

 <div class="popuptext" id="myPopup">
  <form action="/createUniqe" method="POST">

    <label for="name">Name: </label>
    <input type="text" name="name" id="name">

    <label for="plantType">Type: </label>
    <input type="text" name="plantType" id="plantType">

    <label for="h2o">h2o: </label>
    <label for="once-per-day">once per day</label><br>
    <input type="radio" id="once-per-day" name="h2o" value="once per day">

    <label for="once-per-week">once per week</label><br>
    <input type="radio" id="once-per-week" name="h2o" value="once per week">

    <label for="twice-per-week">twice per week</label><br>
    <input type="radio" id="twice-per-week" name="h2o" value="twice per week">

    <label for="once-per-month">once per month</label><br>
    <input type="radio" id="once-per-month" name="h2o" value="once per month">


    <label for="light">light: </label>
    <label for="low-light">low light</label><br>
    <input type="radio" id="low-light" name="light" value="low light">

    <label for="direct-light">direct light</label><br>
    <input type="radio" id="direct-light" name="light" value="direct light">

    <label for="indirect-light">indirect light</label><br>
    <input type="radio" id="indirect-light" name="light" value="indirect light">


    <label for="bio">BIO: </label>
    <input type="text" name="bio" id="bio">

    <button type="submit" >Add PLANT</button>
  </form>
</div>
</div>

<div id="cheat">
<form action='/choosePlant' method="POST">
    <label for="myPlants">plantcare cheatsheet:</label> 
    <select name="myPlants" id="myPlants" aria-label="Choose your plant">
        {{#each allPlants}}
        <option value="{{_id}}">{{plantType}}</option>
        {{/each}}  
    </select>  
    <input id="cheat-btn" type="submit" value="spy">
</form>
</div>

{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}

    <form id="logout-form" class="navbar-nav ml-auto" action="/auth/logout" method="GET">
      <button class="btn btn-outline-success my-2 my-sm-0" id="logout">Logout</button>
    </form>
</div>